html {
    min-height: 100%;
    overflow-y: scroll;
  }
body {
    min-height: 100%;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-repeat: no-repeat;
    color:white;
    font-family:Verdana, Helvetica, sans-serif;
    border: 1px solid transparent;
    
}
#pageLogo {
    height: 150px;
    width: auto;
    border-radius: 50%;
    filter: drop-shadow(0 0 3px #3c1053);
}
#imageLicense {
    font-size: x-small;
    border-top: -10px;
    color: white;
}
.foodPic {
    height: auto;
    width: 300px;
    display: inline-block;
}
.h1 {
    color: white;
    text-shadow: 5px;
    display: inline-block;
    vertical-align: top;
}
.h1:link {
    color: white;
}
.h1:visited {
    color: white;
}
.h2 {
    
}
.nav {
    left:0;
    right:0;
    margin:0;
    position:absolute;
}   
#fixNav{
    position:fixed;
    top:0px;
}   
.nav ul {
    list-style: none;
    text-align: center;
 }
 
 .nav ul li {
    display: inline-block;
 }
 
.nav ul li a {
    cursor: pointer;
}
#recipeList {
    font-size: 18px;
}
a:link {    /* unvisited link */
    color: white;
    text-decoration: none;;
}
a:visited {    /* visited link */
    color: white;
}
a:hover {    /* mouse over link */
    color: #3c1053;
    border-bottom: none;
}
a:active {    /* active link */
    color: #ad5389;
}