html { /* html styles */
    min-height: 100%;
    overflow-y: scroll;
  }
body { /* body styles */
    min-height: 100%;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-repeat: no-repeat;
    color:white;
    font-family:Verdana, Helvetica, sans-serif;
    border: 1px solid transparent;
    background-attachment: fixed;    
}
.header {
    padding: 60px;
    background: rgb(255, 255, 255, 0.2);
    position: fixed;
    left: 0;
    right: 0;
}
.header > .title {
    text-align: center;
}
.title > .h1 {
    width: 600px;
    justify-content:space-around;
    display: inline;
    text-align: center;
}
a:link {    /* unvisited link */
    color: white;
    text-decoration: none;;
}
a:visited {    /* visited link */
    color: white;
}
a:hover {    /* mouse over link */
    color: #3c1053;
    border-bottom: none;
}
a:active {    /* active link */
    color: #ad5389;
}
.logoArea {
    position: fixed;
    top: 2%;
}
.logoArea > * {
    display: inline-block;
    vertical-align: top;
}
.logoAreaInner > * {
    display: block;
}
#pageLogo {
    height: 150px;
    width: auto;
    border-radius: 50%;
    filter: drop-shadow(0 0 3px #3c1053);
}
#imageLicense {
    font-size: x-small;
    color: white;
}
.title {
    position: fixed;   /* Take it out of the flow of the document */
    left: 0;           /* Left edge at left for now */
    right: 0;          /* Right edge at right for now, so full width */ 
    top: 30px;         /* Move it down from top of window */
    width: 600px;      /* Give it the desired width */ 
    margin: auto;      /* Center it */
    max-width: 100%;   /* Make it fit window if under 500px */ 
    z-index: 10000;    /* Whatever needed to force to front (1 might do) */
    
}
.foodPic {
    height: auto;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.homeFoodPics > * {
    display: block;
    margin-inline: auto;
    width: max-content;
}
.recipeLink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.h1 {
    color: white;
    text-shadow: 5px;
}
.h2 {
    text-align: center;
}
.recipeDescription {
    text-align: center;
}
.thankMsg {
    text-align: center;
}
.container {
    width: 600px;
    margin: 0 auto;
}
.nav {
    right: 0;
    margin-right: 3%;
    position:fixed;
}   
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 400px;
 }
.dropdown {
    opacity: 0;
    position: absolute;
    height: 20px;
    width: 450px;
    z-index: 2;
    background: #ad5389; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 25px;
    margin-top: 2rem;
    padding: 0.5rem;
    transform: translateX(-40%);
    transition: opacity .15s ease-out;
    box-shadow: 0 0 5px #3c1053;
}
.dropdownItem {
    list-style: none;
}
.dropdownItem a {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.hasDropdown:hover .dropdown   {
    opacity: 1;
    pointer-events: auto;
}
.footer {
    position: absolute;
    left: 10%;
    width: auto;
    font-size: x-small;
}
